.cart__item-list {
  list-style: none;
  padding: 0;
  margin: auto;
}

.cart__item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
  margin-bottom: 1rem;
  background-color: whitesmoke;
  border-radius: 12px;
  border: 1px solid rgba(209, 213, 219, 0.3);
  width: 50rem;
}
.cart {
  width: 33.33%;
}
.text {
  text-align: left;
}
.text2 {
  text-align: center;
}
.btn3 {
  text-align: right;
}
.cart__item h1,
.cart__item h2 {
  margin-right: 1rem;
  font-size: 1.2rem;
  margin: 0;
  width: 33.33%;
}
